<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edu.wustbook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.HomeActivity"
            android:label="@string/title_activity_home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LibaryActivity"
            android:label="@string/title_activity_libary" />
        <activity
            android:name=".Activity.MyLibaryActivity"
            android:label="@string/title_activity_my_libary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.AccessOffCampussActivity"
            android:label="@string/title_activity_accessoffcampuss"/>
        <activity android:name=".Activity.CollectionActivity"
            android:label="@string/title_activity_collection"/>
        <activity android:name=".Activity.UploadBookActivity"
            android:label="@string/title_activity_uploadbook"/>
        <activity
            android:name=".Activity.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.BookDetailActivity"
            android:label="@string/title_activity_book_detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>